In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as graph

chromosome_numbers = np.arange(1,17,1)

In [57]:
worker_intron = pd.read_table('/home/arshad/Downloads/Brock_data_intron/Scaffold_assembly/cons_unnamed_removed.bed, header=None)
worker_intron.rename(columns={0: 'chromosome'}, inplace=True)

print(len(worker_intron))

237

In [58]:
worker_intron['chromosome'] = worker_intron['all_info'].str.split(':').str.get(0).str.split('chr').str.get(1)
worker_intron['start'] = worker_intron['all_info'].str.split(':').str.get(1).str.split('-').str.get(0)
worker_intron['end'] = worker_intron['all_info'].str.split(':').str.get(1).str.split('-').str.get(1)

In [59]:
worker_intron.drop(columns=['all_info'], inplace=True)

In [60]:
# filtered = worker_intron[~worker_intron['chromosome'].isin(chromosome_numbers)]
# worker_intron.dropna(subset=['chromosome'], inplace=True)

In [61]:
worker_intron.dropna(subset=['chromosome'], inplace=True)

In [62]:
display(worker_intron.head())
display(worker_intron.tail())

  chromosome     start       end
0          1  26659468  26659602
1          1  11026891  11027513
2          1  14492339  14492418
3          1  12864902  12865087
4          1  27451563  27462553

    chromosome    start      end
232         16  4605001  4605153
233         16     8824    30773
234         16  4824960  4835386
235         16  6245461  6246191
236         16  3636254  3636354

In [63]:
# worker_intron.to_csv('/home/arshad/Downloads/Brock\'s_data_intron/D_brock_analysis.bed', header=None, index=False, sep='\t')

# New Data
#### November 1st

In [2]:
def correct_start(row):
    if row['start'] > row['end']:
        new_start = row['end']
        val = new_start
    else:
        val = row['start']
    return val

def correct_stop(row):
    if row['end'] < row['start']:
        new_stop = row['start']
        val = new_stop
    else:
        val = row['end']
    return val

In [52]:
worker_intron = pd.read_table('/home/arshad/Downloads/Brock_data_intron/new_data_november_5/W.bed', delim_whitespace=True,
                              header=None)
worker_intron.rename(columns={0: 'chromosome', 1: 'start', 2: 'end'}, inplace=True)
display(worker_intron.head())
print(len(worker_intron))

  chromosome   start     end                         3
0  Group1.35  135260  135326  W_chr1:21474136-21474202
1  Group1.21  442584  442689  W_chr1:12052638-12052743
2  Group1.37  196766  196830  W_chr1:22591917-22591981
3  Group1.37  196911  196964  W_chr1:22592062-22592115
4  Group1.27  219314  219377  W_chr1:15554332-15554395

2009

In [53]:
worker_intron['chromosome'] = worker_intron['chromosome'].str.split('Group').str.get(1)
worker_intron.drop(columns=[3], inplace=True)

In [54]:
worker_intron['correct_start'] = worker_intron.apply(correct_start, axis=1)
worker_intron['correct_end'] = worker_intron.apply(correct_stop, axis=1)

In [55]:
worker_intron.sort_values(by=['chromosome', 'start'], inplace=True)

In [56]:
display(worker_intron.head())
display(worker_intron.tail())

    chromosome    start      end  correct_start  correct_end
39         1.1  1270644  1270721        1270644      1270721
40         1.1  1272255  1272318        1272255      1272318
128        1.1  1350541  1352702        1350541      1352702
127        1.1  1352775  1353862        1352775      1353862
126        1.1  1354047  1354691        1354047      1354691

    chromosome   start     end  correct_start  correct_end
801        9.8   93480   93562          93480        93562
802        9.8   93721   93812          93721        93812
803        9.8   95026   95111          95026        95111
813        9.8  768957  769208         768957       769208
793        9.8  791747  791811         791747       791811

In [57]:
worker_intron['start'] = worker_intron['correct_start']
worker_intron['end'] = worker_intron['correct_end']

worker_intron.drop(columns=['correct_start', 'correct_end'], inplace=True)

In [58]:
display(worker_intron.tail())

    chromosome   start     end
801        9.8   93480   93562
802        9.8   93721   93812
803        9.8   95026   95111
813        9.8  768957  769208
793        9.8  791747  791811

In [59]:
worker_intron.to_csv('/home/arshad/Downloads/Brock_data_intron/new_data_november_5/nov5_w_brock_analysis.bed', 
                     header=None, index=False, sep='\t')

In [130]:
worker_intron.head()

    chromosome    start      end
5          1.1  1367535  1367614
155        1.1  1367535  1367614
12        1.10   336955   337080
162       1.10   336955   337080
11        1.10   707802   707882

In [132]:
worker_intron['bp'] = worker_intron['end'] - worker_intron['start']
worker_intron.head()

    chromosome    start      end   bp
5          1.1  1367535  1367614   79
155        1.1  1367535  1367614   79
12        1.10   336955   337080  125
162       1.10   336955   337080  125
11        1.10   707802   707882   80

In [134]:
worker_intron['bp'].sum()

276752

# Remnants

def correct_start(start_value, stop_value):
    if start_value > stop_value:
        new_start = stop_value.copy()
        return new_start
    else:
        return start_value

def correct_stop(start_value, stop_value):
    if stop_value < start_value:
        new_stop = start_value.copy()
        return new_stop
    else:
        return stop_value